.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links:hover {
    color: #f0a500;
  }
  